@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #0FBAB3;
    --color-text-muted: #702FBD;
    --color-text-inverted: #F37292;
    --color-fill: #242B36;
    --color-button-accent: #702FBD;
    --color-button-accent-hover: #6647AF;
    --color-button-muted: #F37292;
  }
}

.btn-accent {
  @apply bg-dark-btn-accent hover:bg-dark-btn-accent-hover text-white font-bold py-2 px-4 rounded-full cursor-pointer;
}
