@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #0FBAB3;
    --color-text-muted: #702FBD;
    --color-text-inverted: #F37292;
    --color-fill: #242B36;
    --color-button-accent: #702FBD;
    --color-button-accent-hover: #6647AF;
    --color-button-muted: #F37292;
  }
}
